<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>VibeOn</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css"></head>

<body>
  <div class="app">
    <aside class="sidebar">
      <div class="brand">
        <a href="/" class="logo-link">
          <div class="logo">VO</div>
          <h1>VibeOn</h1>
        </a>
      </div>
      <nav>
        <div class="divider muted">-</div>
        <a class="nav-item" href="/">
          <i class="icon">🏠</i> <span class="label">Головна</span>
        </a>
        <a class="nav-item">
          <i class="icon">📖</i> <span class="label">Стрічка</span>
        </a>
        <a class="nav-item">
          <i class="icon">❤️</i> <span class="label">Улюблене</span>
        </a>
        <a class="nav-item">
          <i class="icon">💬</i> <span class="label">Чати</span>
          <span class="badge">15</span>
        </a>
         <div class="divider muted">База даних</div>
        <a class="nav-item" href="/users">
          <i class="icon">⚙️</i> <span class="label">Користувачі</span>
        </a>
      </nav>
      <div class="footer-options"><a href="support.html">Support</a> · <a href="report.html">Report</a></div>
    </aside>
    <main class="main-wrap">
      <header class="topbar">
        <div class="search">
          <input type="text" placeholder="Search">
        </div>
        <div class="top-actions">
          <button class="pill"><a href="/login">Увійти</a></button>
          <a href="/profile"><img class="user-avatar" src="https://64.media.tumblr.com/3e14b2843171b2703d0bd6f01f1e1c42/a07817157830bb0e-8c/s1280x1920/1b9fd899f7ef512164f0dc61f3260873051a26a2.jpg" alt=""></a>       </header>
      <section class="hero">
        <h2>Про проєкт VibeOn</h2>
        <p>
          VibeOn — це навчальний проєкт, створений студентом Національного Університету "Полтавська Політехніка" групи 202-ТК Сторожевим Максимом у рамках дисципліни "Технології розробки корпоративних Web-додатків".  
        </p>
        <p>
          Цей проєкт не є комерційним і створений виключно для навчальних цілей.
        </p>
      </section>
      <footer class="site-footer">
        <div class="footer-content">
          <p>© 2025 VibeOn. Усі права захищені.</p>
          <div class="footer-links">
            <a href="/about">Про нас</a>
            <a href="#">Контакти</a>
            <a href="#">Політика конфіденційності</a>
          </div>
        </div>
      </footer>
    </main>
  </div>
</body>
</html>