<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>VibeOn</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="app">
    <aside class="sidebar">
      <div class="brand">
        <a href="/" class="logo-link">
          <div class="logo">VO</div>
          <h1>VibeOn</h1>
        </a>
      </div>
      <nav>
        <div class="divider muted">-</div>
        <a class="nav-item active" href="/">
          <i class="icon">🏠</i> <span class="label">Головна</span>
        </a>
        <a class="nav-item">
          <i class="icon">📖</i> <span class="label">Стрічка</span>
        </a>
        <a class="nav-item">
          <i class="icon">❤️</i> <span class="label">Улюблене</span>
        </a>
        <a class="nav-item">
          <i class="icon">💬</i> <span class="label">Чати</span>
          <span class="badge">15</span>
        </a>
        <div class="divider muted">База даних</div>
        <a class="nav-item" href="/users">
          <i class="icon">⚙️</i> <span class="label">Користувачі</span>
        </a>
      </nav>
      <div class="footer-options"><a href="support.mustache">Support</a> · <a href="report.html">Report</a></div>
    </aside>

    <main class="main-wrap">
      <header class="topbar">
        <div class="search">
          <input type="text" placeholder="Search">
        </div>
        <div class="top-actions">
          <button class="pill"><a href="/login">Увійти</a></button>
                    <a href="/profile"><img class="user-avatar" src="https://64.media.tumblr.com/3e14b2843171b2703d0bd6f01f1e1c42/a07817157830bb0e-8c/s1280x1920/1b9fd899f7ef512164f0dc61f3260873051a26a2.jpg" alt=""></a> 
        </div>
      </header>

      <section class="hero">
        <div class="left">
          <h2>VibeOn is LIVE!</h2>
          <p>Ми запускаємо новий простір для спілкування, ігор та творчості - VibeOn 💬
            Тепер ви можете ділитися своїми моментами, створювати пости, коментувати та лайкати – прямо у грі чи на
            сайті. <br>
            Слідкуйте за новими оновленнями, беріть участь у челенджах і знайомтеся з іншими гравцями.
            Ласкаво просимо в нову еру геймінгу та спілкування! ⚡</p>
          <span class="muted">#VibeOnSocial #GameCommunity #LaunchDay</span>

          <a href="#" class="cta">👉 Створи свій перший пост сьогодні!</a>

          <div class="meta">
            <span class="pill">4.3 млн. користувачів вже зареєструвалися в VibeOn!</span>
          </div>
        </div>
        <div class="hero-visual">
          <img class="figure"
            src="https://images.wallpapersden.com/image/download/hellsweeper-vr-4k-gaming_bmZnaWqUmZqaraWkpJRqZmdlrWdtbWU.jpg"
            alt="">
        </div>
      </section>
      <section>
        <h3 class="section-title">Latest Posts</h3>
        <div class="cards">
          <div class="card">
            <div class="card-header">
              <div class="avatar"></div>
              <div class="user-info">
                <h4>PlayerOne</h4>
                <span class="time">2h ago</span>
              </div>
            </div>
            <img
              src="https://static0.srcdn.com/wordpress/wp-content/uploads/2023/03/vlcsnap-2023-03-27-15h32m47s258.jpg"
              alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
            <div class="card-meta">
              <span>❤️ 120</span>
              <span>💬 30</span>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="avatar"></div>
              <div class="user-info">
                <h4>PlayerTwo</h4>
                <span class="time">5h ago</span>
              </div>
            </div>
            <img
              src="https://static0.dualshockersimages.com/wordpress/wp-content/uploads/2018/09/DMC5_Screens_Dante-Intro03_result.png?q=50&fit=crop&w=360&h=240&dpr=1.5"
              alt="">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. </p>
            <div class="card-meta">
              <span>❤️ 95</span>
              <span>💬 12</span>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="avatar"></div>
              <div class="user-info">
                <h4>PlayerThree</h4>
                <span class="time">8h ago</span>
              </div>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4m8qtBOB17qmHm-ccmNaccRtz4zCaeBpWBg&s"
              alt="">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <div class="card-meta">
              <span>❤️ 80</span>
              <span>💬 18</span>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="avatar"></div>
              <div class="user-info">
                <h4>PlayerFour</h4>
                <span class="time">12h ago</span>
              </div>
            </div>
            <img src="https://www.overclockers.ua/games/outlast/04-big-outlast.jpg" alt="">
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.</p>
            <div class="card-meta">
              <span>❤️ 60</span>
              <span>💬 10</span>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="avatar"></div>
              <div class="user-info">
                <h4>PlayerFive</h4>
                <span class="time">1d ago</span>
              </div>
            </div>
            <img
              src="https://assets-prd.ignimgs.com/2025/07/31/conq-br-1753941943856.png?width=1280&format=jpg&auto=webp&quality=80"
              alt="">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo.</p>
            <div class="card-meta">
              <span>❤️ 150</span>
              <span>💬 45</span>
            </div>
          </div>
        </div>
      </section>
      <footer class="site-footer">
        <div class="footer-content">
          <p>© 2025 VibeOn. Усі права захищені.</p>
          <div class="footer-links">
            <a href="/about">Про нас</a>
            <a href="#">Контакти</a>
            <a href="#">Політика конфіденційності</a>
          </div>
        </div>
      </footer>
    </main>
  </div>
</body>
</html>